<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
<meta charset="UTF-8">
<title>SportyShoes.com - Admin Dashboard</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h1 align="center">Welcome Admin</h1>
<fieldset title="Admin Console">
<form  title="User Database" method="POST" action="userController">
		<p align="center"> <input type="submit" value="Get User Database" /></p>
</form>

<form  title="Product Database" method="POST" action="listProducts">
		<p align="center"> <input type="submit" value="Get Product Database" /></p>
</form>

<form  title="Purchase Database" method="POST" action="listPurchase">
		<p align="center"> <input type="submit" value="Get Purchase Database" /></p>
</form>

<form  title="Change Password" method="POST" action="changePasswordForm">
		<p align="center"> <input type="submit" value="Change Password" /></p>
</form>

</fieldset>
</body>
</html>