<html>  
<head>  
<title> SportyShoes.com - Admin Password Change Form </title>  
</head>  
<script>  
function verifyPassword() {  
  var newpw = document.getElementById("newpassword").value;
  var pw = document.getElementById("password").value; 
  //check empty password field  
  if(pw != newpw) {  
     document.getElementById("message").innerHTML = "**New Password and Confirm Password should be same";  
     return false;  
  }  
   
 
}  
</script>  
  
	<body>  
		<center>  
		<h1 style="color:green">Admin Password Change</h1>  
		
		  
		<form onsubmit ="return verifyPassword()" method="POST" action="changePassword">  
		  
			New Password: <input required="required" type = "password" id = "newpassword" >   
			<span id = "message" style="color:red"> </span> <br><br>  
			Confirm Password: <input required="required" type = "password" name="password" id = "password">   
			<span id = "message" style="color:red"> </span> <br><br>  
			  
			
			<input type = "submit" value = "Submit" >  
			  
			
			<button type = "reset" value = "Reset" >Reset</button>  
		</form>  
		</center>  
	</body>  
</html>  