<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add New Shoe</title>
</head>
<body>
<h1 align="center"><b>SportyShoes.com</b></h1>
<h2 align="center"><i>"Your Shoe Destination"</i></h2>
	<form  title="Admin Login" method="POST" action="loginController">
		<fieldset >
  			<legend align="center">Add New Shoes</legend>
				<p align="center">Email: <input value="admin@sportyshoes.com" required="required" type="email" name="email" /></p>
				<p align="center"> Password: <input required="required" type="password" name="password" /></p>
				<p align="center"> <input type="submit" value="Login" /></p>
		</fieldset>
	</form>
</body>
</html>