<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SportyShoes.com - Add New Shoe</title>
</head>
<body>
<h1 align="center"><b>SportyShoes.com</b></h1>
<h2 align="center"><i>"Your Shoe Destination"</i></h2>
	<form  title="New Shoes" method="POST" action="saveProducts">
		<fieldset >
  			<legend align="center">Add New Shoes</legend>
				<p align="center">Name: <input required="required" type="text" name="name" /></p>
				
				<p align="center"> <label for="category">Category:</label>
				<select name="category" id="category">			
				<option value="Running">Running</option>
				<option value="Walking">Walking</option>
				<option value="Cricket">Cricket</option>
				<option value="Jogging">Jogging</option>
				<option value="Football">Football</option></select></p>
				<p align="center">Price: <input required="required" type="number" name="price" /></p>
				<p align="center"> Available Numbers: <input required="required" type="number" name="availability" /></p>
				<p align="center"> <input type="submit" value="Submit" /></p>
		</fieldset>
	</form>
</body>
</html>